*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --winning-blocks: #2d414b;
}

body {
    color: var(--black);
    font-family: 'Finger Paint', cursive;
}
h1 {
    font-size: 60px;
    text-transform: uppercase;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
}

#gameboard {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.box {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    font-size: 150px;
    border-right: 4px solid;
    border-bottom: 4px solid;
}
.box:nth-child(3n) {
    border-right: none;
}
.box:nth-child(6) ~ .box {
    border-bottom: none;
} 
button {
    padding: 10px 20px;
    border-radius: 10px;

    color: #333;
    border-color: var(--orange);
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
}
button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.button_container{
    padding-top: 30px;
}
